/* stylesheet */

body {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

img {
    max-width: 300px;
    border-radius: 50%;
    border: solid 10px #FFF8F0;
    /* overflow: hidden; */

}

.logo img {
    display: flex;
    min-width: 48px;
    border-radius: 0;
    border: 0;

}

.header {
    background-color: #3B2F2F;
    display: flex;
    justify-content: space-between;
    /* border: solid 1px red; */
    align-items: center;
    height: 50px;
    padding: 0px 30px;
}

.description {
    /* border: solid 2px blue; */
    background-color: #3B2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

p {
    color: #FFF8F0;
}

.crop-box-1 img {
    /* padding: 30px; */
    border-radius: 10px;
    border: 0;
    margin: 30px;
}

.latte{
    border-radius: 10px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 450px;
    /* border: solid 3px red; */
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
}

.quote-section {
    background-color: #FFF8F0;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}

.quote-section p {
    /* border: solid red; */
    max-width: 800px;
    margin: 20px;
    color: #5C4033;
    font-size: 24px;
}

.align-r {
    display: flex;
    align-self: flex-end;
    padding-right: 100px;
    
}

.sign-up-section {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;

}
.sign-up {
    background-color: #C97C5D;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    max-height: 125px;
    margin: 100px ;
}

.left-side {
    /* border: solid red; */
    align-items: flex-start;
    margin-right: 50px;
}

.left-side h3 {
    /* border: solid black; */
    margin: 0px;
}

.left-side p {
    /* border: solid black; */
    margin: 0px;
}

button {
    border: solid 2px #FFF8F0;
    border-radius: 7px;
    height: 30px;
    width: 100px;
    margin-right: 25px;
    background-color: #C97C5D;
    color: #FFF8F0;
}

.footer {
    background-color: #3B2F2F;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D8CAB8;
}

h1 {
    font-size: 48px;
    color: #FFF8F0;
    font-weight: 900;
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    font-size: 24px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #D8CAB8;
}